/* CSS Geral para reset parametros default do browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* CSS Body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(128, 23, 23));*/
}

/* CSS header*/

header {
    background-color: #ffffff;
}

.nav-header{
    background-color: #163891;
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration-color: #ffffff;
    font-weight: bold;
 }

.nav-header ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-decoration-color: #ffffff;
}


/* CSS Main & Body*/

main {
    background-color: ##163891;
}

.container {
    width: 100%;
    height: 70%;
    background-image: radial-gradient(rgb(146, 146, 145), rgb(146, 146, 145), #163891);
}

.gallery {
    display: grid;
    grid-template-columns: 16;
    grid-template-rows: 16;
    grid-gap: 1%;
  }

.gallery__img {
    width: 260px;
    height: 260px;
    object-fit: contain;
    background-color: #e3eefc;
}

.gallery__item--1 {
    margin: 1rem auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.gallery__item--2 {
    margin: 1rem auto;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.gallery__item--3 {
    margin: 1rem auto;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.gallery__item--4 {
    margin: 1rem auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.gallery__item--5 {
    margin: 1rem auto;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.gallery__item--6 {
    margin: 1rem;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

/* CSS Footer*/

footer {
    background-color: #ffffff;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-items: center;
    justify-content: center;
    }

.nav-footer ul{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    gap: 30px;
    row-gap: 100px;
    list-style-type:none;
    align-items: center;
    }