header {
    background: color #163891;
}

.nav-header{
  background-color: #163891;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #ffffff;
  font-weight: bold;
}

.nav-header ul{
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration-color: #ffffff;
}
.nav-header a{
  color: #ffffff;
}

body {
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    
  color: rgb(255, 255, 255);
  text-align:left;
}

article p  {
  background-color:rgb(50, 225, 225);
  padding: 5rem;
  width: 80rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  margin-top: 0.5rem;
  text-align: left;
}

article h3 {
  background-color: #163891;
  border-radius: 2rem;
  padding: 0.2rem;
  width: 6rem; 
  margin-bottom: 0rem;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid rgb(0, 0, 0);

}

main section{
display:flex;
justify-content:left;
}

main section div{
  margin: 20px;
  padding: 20px;
  padding-top: 20px;
  width: 300px;
  height: 100px;
  text-align: left;
  border-radius: 10px;
}

main section div h3{
  padding-bottom: 10px;
}

footer {
  background-color: #ffffff;
}

.nav-footer a{
  color: #163891;
  
}

.nav-footer{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-items: center;
  justify-content: center;
  padding-top: 16rem;
  }

.nav-footer ul{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  gap: 30px;
  row-gap: 100px;
  list-style-type:none;
  align-items: center;
  }