/* CSS Geral para reset parametros default do browser*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* CSS Body*/
body{
  font-family: Arial, Helvetica, sans-serif;
  /*background-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(128, 23, 23));*/
}

/* CSS header*/

.nav-header{
  background-color: #163891;
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #ffffff;
  font-weight: bold;
  }

.nav-header ul{
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-decoration-color: #ffffff;
}
.nav-header a{
  color: #ffffff;
}

.nav-header ul a::after{
  content: "";
  background-color:#385bb3;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}

.nav-header ul a:hover::after{
width: 100%;
}
.search-mover{
  margin-left: 57%;
  margin-top: 2%;
}
.search-header{
  display:flex;
  justify-content: flex-end;
  float: right;
 border: 1px solid whitesmoke;
 border-radius: 0.3em;
 padding: 0.3em;


}

.search input, search button{
  font-size: 1.2em;
  border-radius: 0.2em;
  border: none;
  padding: 0.2em;
}

.search button{
  cursor: pointer;
  background: none;
  color: whitesmoke;
  transition: 0.3s;
}

.search button:hover{
  background-color: whitesmoke;
  color:  #163891;
}

/* CSS Main & Body*/

main {
  background-color: #163891;
}

.container {
  display: flex;
  gap: 15px;
  margin: 55px 10px;
  background-color: white;
  padding: 10px;
}

.main-video-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px gray;
}

.main-video-content video {
  width: 1300px;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 900px;
  padding: 2px;
  
 
}

.playlist::-webkit-scrollbar {
  width: 6px;
}
.playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray; 
}

.playlist-video {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  box-shadow: 0 1px 2px gray;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  background-color: #3f3ff6;
  color: white;
}

.playlist-video video{
  width: 150px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
    height: -webkit-fill-available;
  }

  .container, .main-video-content video {
    width: 100%;
  }
}

/* CSS Footer*/

footer {
  background-color: #ffffff;
}

.nav-footer a{
  color: #163891;
}

.nav-footer{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-items: center;
  justify-content: center;
  }

.nav-footer ul{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  gap: 30px;
  row-gap: 100px;
  list-style-type:none;
  align-items: center;
  }