*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* CSS header*/

.nav-header{
    background-color: #163891;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #ffffff;
    font-weight: bold;
 }

.nav-header ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    text-decoration-color: #ffffff;
}
.nav-header a{
    color: #ffffff;
}

/* CSS Main & Body*/
main {
    display: flex;
    justify-content: center;
    background-color: #16213E;
    padding-top: 0.5%;
}
#Carrossel {
    display: flex;
    justify-content: center;
}
#Carrossel img {
    width: 39vw;
    object-fit: contain;
    background-color: #e3eefc;
}
.propostas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.propostas h3 img {
    width: 8vw;
    height: 8vw;
    object-fit: contain;
    background-color: #e3eefc;
}
#Proposta-1, #Proposta-2,#Proposta-3,#Proposta-4 {
    padding-left: 100%;
}
/* CSS Footer*/

footer {
    background-color: #ffffff;
}

.nav-footer a{
    color: #163891;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-items: center;
    justify-content: center;
    }
.nav-footer ul{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    gap: 30px;
    row-gap: 100px;
    list-style-type:none;
    align-items: center;
    }