*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    background-color: #294604;
}
header .logo {
    display: inline;
}
header .links{
    display: inline;
    float: right;
    background-color: black;
    border: 0.3vw solid #301B0C;;
}
header .links a {
    color: white;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}
header nav {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    border-top: 0.5vw solid #301B0C;
    border-left: 0.5vw solid #301B0C;
    border-right: 0.5vw solid #301B0C;
}
header nav a {
    color: white;
    margin-left: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
main {
    display: flex;
    justify-content: flex-start;
    background-color: #301B0C;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
#Carrossel {
    background-color: #4D4D4D;
    width: 85vw;
    border-left: 0.5vw solid #301B0C;
}
#Proposta-1 {
    background-color: #4D4D4D;
    margin-bottom: 0.25vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20%;
    padding-bottom: 20%;
    border: 0.5vw solid #301B0C;
    
}
#Proposta-2 {
    background-color: #4D4D4D;
    margin-top: 0.9vw;
    margin-bottom: 0.25vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20%;
    padding-bottom: 20%;
    border: 0.5vw solid #301B0C;
}
#Proposta-3 {
    background-color: #4D4D4D;
    margin-top: 0.9vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20%;
    padding-bottom: 20%;
    border: 0.5vw solid #301B0C;
}
#Proposta-4 {
    background-color: #4D4D4D;
    margin-top: 0.9vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20%;
    padding-bottom: 20%;
    border: 0.5vw solid #301B0C;
}
footer div {
    background-color: #294604;
    padding: 5vw;
    border-bottom: 0.5vw solid #301B0C;
}
footer section {
    display: flex;
    justify-content: space-between;
    background-color:#86A45F;
    padding-top: 1,5vw;
    padding-bottom: 9vw;
}
footer a {
    text-decoration: none;
    color: black;
}